@{
    ViewData["Title"] = "Logging Page";
}

<form asp-action="Login" asp-controller="Account" method="post">
    <input type="text" name="email" placeholder="Ваш email"/><br />
    <input type="password" name="password" placeholder="Ваш пароль"/><br />
    <input type="submit" value="Войти" />
</form>
