@{
    ViewData["Title"] = "О Нас";
}

<div class="About">
    <p>
        <img class="about_img" src="@Url.Content("~/staticimages/AboutUs.jpg")" />
        <h1> Приветствуем на нашем сайте!</h1>
        У нас вы можете найти объекты недвижимости под любые цели! Мы делаем все, чтобы портал был полезен каждому, кто планирует снять или купить квартиру, арендовать коммерческое помещение и многое другое! Для удобства реализована возможность поиска по различным критериям. Также можно размещать и свои объявления, достаточно авторизироваться на нашем сайте. В личном кабинете можно перейти во вкладку "избранное" и увидеть понравившиеся варианты недвижимости. Можно выделить собственные предложения среди остальных благодаря vip-статусу. Если остались вопросы, можете обратиться в службу поддержки, будем рады любым комментариям и отзывам о работе портала :)
    </p>
</div>
