@{
    ViewData["Title"] = "О Нас";
}

<div style="height: 800px;">
    <p><img src="@Url.Content("~/staticimages/AboutUs.jpg")" width="400" height="800" style="float: left; margin-right: 1em;"/>
    Тут какой-то текст о том какие мы молодцы и вообще заходите на этот сайт 
    дадада вообще тоже такими красавчиками как мы будете чуваки отвечаю ну купите квартиру пожалста моргни два раза если ты в заложниках морг морг</p>
</div>
