@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Популярные предложения:</h1>
    <div style="display: inline-block; align-content: center;">
        <img src="@Url.Content("~/staticimages/KomRealty.jpg")" width="300" height="300" /><br />
        <p>Коммерческая недвижимость</p>
        <p><a class="btn-info" asp-action="Test" asp-controller="Home">Узнать больше</a></p>
    </div>
    <div style="display: inline-block; align-content: center;">
        <img src="@Url.Content("~/staticimages/SocRealty.jpg")" width="300" height="300" /><br />
        <p>Социальная недвижимость</p>
        <p><a class="btn-info" asp-action="Test" asp-controller="Home">Узнать больше</a></p>
    </div>
    <div style="display: inline-block; align-content: center;">
        <img src="@Url.Content("~/staticimages/RoomArenda.jpg")" width="300" height="300" /><br />
        <p>Аренда квартир</p>
        <p><a class="btn-info" asp-action="Test" asp-controller="Home">Узнать больше</a></p>
    </div>