<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SweetHome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~fonts/opensans/opensans.css" rel="stylesheet" type="text/css">
    <link href="~fonts/Carattere-Regular/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="nav-item">
                    <div class="site_name">SweetHome</div>
                </li>

                <li class="nav-item">
                    <a class="item" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="item" asp-area="" asp-controller="Home" asp-action="About">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="item" asp-controller="Home" asp-action="Searching">Поиск жилья</a>
                </li>
                <li class="nav-item">
                    <a class="item" href="#">Контакты</a>
                </li>
                <li class="LK">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Home" asp-action="Test">@Context.User.Identity.Name</a>
                        <ul class="LK_exit">
                            <li><a asp-controller="Home" asp-action="UserLK">Личный кабинет</a></li>
                            <li><a asp-controller="Account" asp-action="Logout">Выход</a></li>
                        </ul>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Account">Вход</a>
                    }
                </li>
            </ul>
        </nav>
     </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - "SweetHome" - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
