<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SweetHome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="bg-dark navbar">
            <h1>SweetHome</h1>
            <div class="align-content-end" style="padding-right: 4em;">
                @if(Context.User.Identity.IsAuthenticated)
                {
                    <a class="text-info" asp-controller="Home" asp-action="Test">@Context.User.Identity.Name</a>
                    <ul style="position: absolute; border: 2px solid black;z-index: 10;">
                        <li style="height: 3em;"><a asp-controller="Home" asp-action="Test">Личный кабинет</a></li>
                        <li style="height: 3em;"><a asp-controller="Home" asp-action="Test">Выход</a></li>
                    </ul>
                }
                else
                {
                    <a class="text-info" asp-action="Login" asp-controller="Account">Вход</a>
                }
            </div>
        </div> 
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Услуги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - "SweetHome" - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
